.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-block: 2rem;
    font-weight: 500;
    font-size: 1rem;
}

.navbar__logo {
    font-weight: 200;
    font-size: 1.1rem;
    opacity: 0.8;
}
