/* ------------------- */
/* Reset               */
/* ------------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
	overflow-wrap: break-word;
}

p {
	hyphens: auto;
}

img,
picture,
video,
svg,
canvas {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

/*
	Overriding select's default styles in Safari and Firefox
*/

select {
	appearance: none;
	line-height: normal;
	position: relative;
	background-position: right 10px top 50%;
	background-repeat: no-repeat;
	background-size: 10px;
	background-color: white;
	background-image: url(/Images/General/down-arrow-backup-2-svgrepo-com.svg);
}

html,
body,
#__next {
	height: 100%;
}

#root,
#__next {
	isolation: isolate;
}

/* ------------------- */
/* Root variables      */
/* ------------------- */

:root {
	/* colors */
	--clr-primary: 16, 99%, 37%; /* Red */
	--clr-secondary: 0, 71%, 99%; /* Extremly Light Red */
	--clr-black: 0, 0%, 0%; /* Text */
	--clr-white: 0 0% 100%; /* Text and Background */
	--clr-dark-gray: 0, 0%, 20%; /* Footer */

	/* font-sizes */
	--fs-900: clamp(4rem, 6vw + 1rem, 8rem);
	--fs-800: 2.5rem;
	--fs-700: 1.5rem;
	--fs-600: 1.25rem;
	--fs-500: 1.15rem;
	--fs-400: 1rem;
	--fs-300: 0.9375rem;
	--fs-200: 0.875rem;
}

@media (min-width: 35em) {
	:root {
		--fs-800: 5rem;
		--fs-700: 2.5rem;
		--fs-600: 1.5rem;
		--fs-500: 1.25rem;
		--fs-400: 1rem;
	}
}

@media (min-width: 45em) {
	:root {
		/* font-sizes */
		--fs-800: 5.25rem;
		--fs-700: 3rem;
		--fs-600: 2.25rem;
		--fs-500: 1.75rem;
		--fs-400: 1.125rem;
	}
}

/* ------------------- */
/* Body                */
/* ------------------- */

body {
	font-size: var(--fs-400);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: hsl(var(--clr-secondary));
}

/* ------------------- */
/* Typography          */
/* ------------------- */

.fs-900 {
	font-size: var(--fs-900);
}

.fs-800 {
	font-size: var(--fs-800);
}

.fs-700 {
	font-size: var(--fs-700);
}

.fs-600 {
	font-size: var(--fs-600);
}

.fs-500 {
	font-size: var(--fs-500);
}

.fs-400 {
	font-size: var(--fs-400);
}

.fs-300 {
	font-size: var(--fs-300);
}

.fs-200 {
	font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 1.1;
}

.letter-spacing-1 {
	letter-spacing: 4.75px;
}

.letter-spacing-2 {
	letter-spacing: 2.7px;
}

.letter-spacing-3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

/* ------------------- */
/* Colors              */
/* ------------------- */

/* Background colors */

.bg-primary {
	background-color: hsl(var(--clr-primary));
}

.bg-secondary {
	background-color: hsl(var(--clr-secondary));
}

.bg-black {
	background-color: hsl(var(--clr-black));
}

.bg-white {
	background-color: hsl(var(--clr-white));
}

.bg-dark-gray {
	background-color: hsl(var(--clr-dark-gray));
}

/* Font colors */

.text-primary {
	color: hsl(var(--clr-primary));
}

.text-secondary {
	color: hsl(var(--clr-secondary));
}

.text-black {
	color: hsl(var(--clr-black));
}

.text-white {
	color: hsl(var(--clr-white));
}

.text-gray {
	color: hsl(var(--clr-dark-gray));
}

/* ------------------- */
/* Utility Classes     */
/* ------------------- */

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.d-block {
	display: block;
}

.container {
	padding-inline: 1em;
	margin-inline: auto;
	max-width: 80rem;
}

@media (min-width: 720px) {
	.container {
		padding-inline: 2em;
	}
}

/* Screen-readers */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

/* ------------------- */
/* Components          */
/* ------------------- */
